<div class="container-fluid">
  <div class="row">
    <h3>Mi Lista</h3>
  </div>
  <div class="row">
    <div class="col-4" ng-repeat="movie in favMovies">
      <div class="card" ng-click="moviesDetail(movie.imdbID)" data-toggle="modal" data-target="#movieModal">
        <div style="height: 270px;  width: auto; text-align: center;">
          <img width="180" ng-src="{{movie.Poster}}" alt="movie.Title">
        </div>
        <h5 class="card-title" style="text-align: center;">{{movie.Title}}</h5>
      </div>
    </div>
  </div>
</div>


<div class="modal fade" id="movieModal" tabindex="-1" role="dialog" aria-labelledby="movieModal" aria-hidden="true">
  <div class="modal-dialog  modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h2 class="modal-title" id="exampleModalLabel">Detalles de la Película</h2>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-3">
            <img width="180" ng-src="{{details.Poster}}" alt="movie.Title">
            <p> <strong>Rating:</strong> {{details.imdbRating}}</p>
            <p><strong>Duracion:</strong> {{details.Runtime}}</p>
            <p><strong>Pais:</strong> {{details.Country}}</p>
          </div>
          <div class="col-9">
            <h3><strong>Título:</strong> {{details.Title}}</h3>
            <p><span><strong>Año:</strong> {{details.Year}}</span>
              <span><strong>Tipo:</strong> {{details.Type}}</span>
              <span><strong>Idioma:</strong> {{details.Language}}</span>
              <span><strong>Genero:</strong> {{details.Genre}}</span>
            </p>
            <p><strong>Descripción:</strong> {{details.Plot}}</p>
            <p><strong>Director:</strong> {{details.Director}}</p>
            <p><strong>Guionista:</strong> {{details.Writer}}</p>
            <p><strong>Reparto:</strong> {{details.Actors}}</p>
            <p><strong>Productora:</strong> {{details.Production}}</p>
          </div>
        </div>
      </div>
      <!-- <div class="modal-footer">
        <button type="button" class="btn btn-primary" ng-click="fav(details)"><i class="far fa-heart"></i> Añadir a favoritos</button>
      </div> -->
    </div>
  </div>
</div>