/* app css stylesheet */
.log{
  color: darkseagreen;
  font-size: 30px;
}

.pin-layout{
  column-count: 4;
  column-gap: 0px;
  -moz-column-count: 4;
  -moz-column-gap: 0px;
  -webkit-column-count: 4;
  -webkit-column-gap: 0px;
}

.pin{
  display: inline-block;
  margin: 5px;
  padding: 5px;
  border-radius: 5px;
  box-shadow: 2px 2px 5px #ccc;
}

.card{
   margin-top: 5px;

}

.pagination{
  justify-content: center;
}

img {
  height: auto;
  max-width: 100%;
  }

.imgStyle {
  height: 270px; 
  width: auto; 
  text-align: center;
}  

.title {
  text-align: center;
}

.notFound{
  font-weight: 600;
  color: #E5401D;
}

@media only screen and (max-width: 600px) {
  .imgStyle {
    height: 110px; 
    width: auto; 
    text-align: center;
  }  
}